Repository godby-group/idea-public, pull requests merged in 2018-08, with the labels that each got.

#5 Correctly relabelled output file in LDA code
  iDEA/LDA.py
Labels: LDA, bug

#7 Updated documentation
  doc/conf.py
  doc/implementation/ext.rst
  doc/implementation/lda.rst
  doc/implementation/non.rst
Labels: documentation

#6 Updated links in documentation
  README.md
  doc/dev/add.rst
Labels: documentation

#10 Fixed normalisation issue in EXT/NON
  iDEA/EXT1.py
  iDEA/EXT2.py
  iDEA/EXT3.py
  iDEA/NON.py
Labels: NON, exact
